.button {
    background-color: transparent;
    box-shadow: none;
    outline: none;
    border: 2px solid;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: .825rem;
    letter-spacing: .05rem;
}
