$color-black: #1a1a1a;
// $color-primary: #286a88;
$color-primary: rgb(0, 102, 204);
$color-primaryDark: #014364;
$color-primaryLight: #61BEDC;


$color-white: #fCfCf8;
$color-grey: #c3c3c3;
$color-greyDark: #404040;



$color-success: #88c459;
$color-error: #f5414f;
$color-warning: #ffd137;